/* Common styles */
.base-button-styles {
    position: relative;
    overflow: hidden;
    padding: 6px 8px;
    border-radius: 4px;
    user-select: none;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
  }
  
  
  /* Specific styles */
  .text {
    
  }
  
  .outline-button  {
    
    padding: 6px 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #1976d2;
  }
  
  .contained-button  {
    
    padding: 5px 15px;
    color: #fff;
    background-color: rebeccapurple;
    /* box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); */
  }
  

  span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }